* {
    font-family: "Poppins", sans-serif;
}
.banner-section {
    background-image: url("../images/banner-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.banner-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(11, 0, 32, 0.877),
        rgba(6, 0, 19, 0.527),
        rgba(9, 0, 29, 0.466)
    );
    z-index: 0;
}
